<h1>Palindream</h1>
<form class="" action='/results'>
  <div class="form-group">
    <label for="input">Enter words</label>
    <input name="input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Dream</button>
</form>
